body{
    text-align: center;
}
header{
    box-sizing: border-box;
    height:15%;
    font-size: large;
}
nav{
    box-sizing: border-box;
    height:15%;
    color:black;
    overflow:hidden;
    font-size: 24px;
}
#chartDiv{
    margin : 0 auto;
    width : 1600px;
    height : 900px;
}
#realtimeSwingDiv{
    margin : 0 auto;
    width : 1000px;
    height : 1000px;
}
#realtimeSwingDiv2{
    margin : 0 auto;
    width : 1000px;
    height : 1000px;
}